#home{
    color:darkcyan;
    
}
#logo{
    width: 50%;
}
#logo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
#new{
    color:darkcyan;
}
#about{
    color:darkcyan;
}
#collaboration{
    color:darkcyan;
}
#annoucement{
    color:darkcyan;
}
#resource{
    color:darkcyan;
}